@page "/"

<PageTitle>Reddot</PageTitle>

<head>
    <link href="css/app.css" rel="stylesheet" /> 
</head>

<h1>Welcome to Reddot</h1>
<p>Below you can read the most recent posts.</p>

<PostList></PostList>
